/*Menu bar styling*/
div.menu ul {
    list-style-type: none; /*removes bullets*/
    margin: 0px 50px 0px 0px;
    padding: 0;
    overflow: hidden; /*Content that doesn't fit into the div won't be seen*/
    background-color: white;
}

div.menu ul li {
    float: right; /*The element floats to the right of its container*/
}

div.menu ul li a {
    display: block; /*Displays element as a block element*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*removes the underline that links have*/
    font-family: sofia pro;
    font-size: 150%;
}

div.menu ul li a:hover{
    background-color: #A6808C;
    color: white;
}

.active {
    background-color: #A6808C;
    color: white;
}

.name {
    float: left;
    font-family: sofia pro;
    font-size: 150%;
    color: black;
    padding: 14px 16px;
}

/*Heading styling*/

.heading {
    text-align: center;
}

/*Content styling*/
.content {
    font-family: sofia pro;
    font-size: 150%;
    text-align: center;
    padding: 0px 160px;
}

/*resume button*/
#resume {
    font-family: sofia pro;
    font-size: 80%;
    border-radius: 5px;
    border: 3px solid #A6808C;
    background-color: white;
    color: #A6808C;
    box-shadow: -6px 8px 20px #B4A6AB;
}

#resume:hover {
    background-color: #A6808C;
    color: white;
    cursor: pointer;
}

/*Back to Top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #A6808C; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  /*border-radius: 50px; /*Rounded corners */
  font-size: 40px; /* Increase font size */
}

#myBtn:hover {
  /*background-color: #555; /* Add a dark-grey background on hover */
  color: #555;
}
