/*Header styling*/
img {
    border-radius: 100px;
    margin: 80px 0px 0px 0px;
    padding: 0px;
}

.container {
    width: 80%;
    height: auto;
    padding: 1%;
    margin-left: 50px;
}

p.info {
    font-family: sofia-pro, sans-serif;
    font-size: 250%;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    color: #B4A6AB;
}

p.main {
    font-family: sofia-pro, sans-serif;
    font-size: 500%;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}

.txt-rotate {
    color: #A6808C;
}

/*Menu bar styling*/
div.menu ul {
    list-style-type: none; /*removes bullets*/
    margin: 0px 77px 0px 0px;
    padding: 0;
    overflow: hidden; /*Content that doesn't fit into the div won't be seen*/
    background-color: white;
}

div.menu ul li {
    float: right; /*The element floats to the right of its container*/
}

div.menu ul li a {
    display: block; /*Displays element as a block element*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*removes the underline that links have*/
    font-family: sofia-pro, sans-serif;
    font-size: 150%;
}

div.menu ul li a:hover{
    background-color: #A6808C;
    color: white;
}

/*Projects*/
p.projHeader, p.weebly {
    font-family: sofia-pro, sans-serif;
    color: #615055;
    text-align: center;
    font-size: 250%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.projectname {
    text-align: center;
    border-radius: 5px;
    margin-top: 0px;
    padding-top: 0px;
}

/*Hover on top of project button*/
.gingercoveprojpage:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
}

/*description for graphic design*/
p.GDdescription {
    font-family: sofia-pro, sans-serif;
    text-align: center;
    font-size: 125%;
}
p.ps {
    font-family: sofia-pro, sans-serif;
    text-align: center;
    font-size: 100%;
}

/*Back to Top button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #A6808C; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  /*border-radius: 50px; /*Rounded corners */
  font-size: 40px; /* Increase font size */
}

#myBtn:hover {
  /*background-color: #555; /* Add a dark-grey background on hover */
  color: #555;
}
