/* CONTENT */
h1, h2 {
    font-family: sofia-pro, sans-serif;
    color: #615055;
    
}

p, li {
    font-family: sofia-pro, sans-serif;
}

.background p{
    text-align: right;
    padding-top: 0px;
    margin-top: 0px;
}

.label {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #A6808C;
}

.diagram {
  font-size: 150%;
  color: #A6808C;
}

/*Solutions*/
.credit {
  font-style: italic;
  color: gray;
  font-size: 90%;
}