body {
    font-family: sofia-pro, sans-serif;
}

a, .course-heading {
    color: #A6808C;
}

a .fab {
    color:#B4A6AB;
}

.btn {
    background-color: #B4A6AB;
    border-color: #B4A6AB;
}

a .fab:hover {
    color: #A6808C;
    border-color: #A6808C;
}

.btn:hover {
    background-color: #A6808C;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* FILTER */
/* The "show" class is added to the filtered elements */
.container {
    overflow: hidden;
}
  
.filterDiv {
    /*float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;*/
    text-align: center;
    /*margin: 2px;*/
    display: none; /* Hidden by default */
}

.show {
    display: block;
}


/*Project Tiles section */
.proj-tile {
    border-radius: 5%;
}

.proj-link {
    text-decoration: none;
    color: #212529;
}

.proj-link:hover {
    color: #A6808C;
}